.ws {
  background-color: #eef3f7;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 10px;
  .board {
    background-color: white;
    height: 550px;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
}
